/* All color variables go here, I would like to follow some design naming convention,
but at the time I'm making names up on the fly */

$colorPrimary   : rgb(121,178,233);
$colorSecondary : rgb(0,0,0);
$colorRead      : rgb(22,22,22); 
$colorBase      : rgb(246,246,242); 
$colorSupport   : rgb(0,0,0);
$colorBright    : rgb(252,252,252);
